
# directories (by name)

/.git-old/
/.vs/

/_build/
/_internal/

/ideas/

/include-3/
/include-win/
/included/

# directories (by pattern)

# files (by name)

.DS_Store

list_changes.cmd

include/stlsoft/internal/dos2unix.has.been.performed

sh.exe.stackdump

# files (by pattern)

*~
*.a
*.app
*.b64
*.bak
*.dll
*.dylib
*.exe
*.gch
*.idb
*.ilk
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.res
*.sbr
*.scc
*.sdf
*.so
*.suo
*.swp
*.tlog
*.tmp
*.unsuccessfulbuild
*.vcproj*.user
*.vcxproj*.user
*.zip

