
# directories (by name)

ideas/

# directories (by pattern)

# files (by name)

.DS_Store

list_changes.cmd

include/stlsoft/internal/dos2unix.has.been.performed

sh.exe.stackdump

# files (by pattern)

*~
*.a
*.app
*.b64
*.dll
*.dylib
*.exe
*.gch
*.lib
*.o
*.obj
*.opensdf
*.out
*.pch
*.sbr
*.scc
*.sdf
*.so
*.suo
*.swp
*.tmp
*.zip

*.vcproj*.user
*.vcxproj*.user

