
# directories (by name)

ideas/

# directories (by pattern)

# files (by name)

.DS_Store

list_changes.cmd

include/stlsoft/internal/dos2unix.has.been.performed

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.o
*.obj
*.opensdf
*.out
*.pch
*.sdf
*.sbr
*.scc
*.so
*.swp
*.tmp

*.vcproj*.user
*.vcxproj*.user

